.center1 {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.Pricing {
  padding: 10px 50px;
  background: linear-gradient(60deg, aqua, purple);
  border-radius: 8px;
  text-decoration: none;
  color: white;
}
.Pricing:hover {
  border-radius: 845788px;
}
